@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --heading:'montserrat','sans-serif';
}

body{
  font-family: 'raleway','sans-serif';
  background: #003349;
}

/*global styling*/

img{
  width: 100%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
hr{
  width: 95vw;
  margin: 0 auto;
}
html{
  font-size: 10px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
h1{
  font-size: 1.9rem;
}
p{
  font-size: 1.5rem;
}
/*header */
.top-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #000000;
  color: #fff;
  padding: 20px 30px;
}

.top-head .fas{
  font-size: 2rem;
  cursor: pointer;
}


/*  js related styling */

.times-btn{
  display: none;
}

.nav-bar{
  background: #000000;
  height: 0;
  overflow: hidden;
}

.show-nav{
  height: auto;
}

/**************/

.nav-bar ul li{
  text-align: center;
  display: block;
  padding: 15px 0;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.nav-bar ul li:hover{
  background: #0e0e0e;
}

.nav-bar ul li a{
  color: #fff;
  text-transform: uppercase;
}

.nav-bar ul li a:hover{
  text-decoration: underline;
}

/*social icons */
.social-icons{
  display: none;
}


/*Footer*/
footer{
  background: #000000;
  color: #f3f3f3;
  padding: 30px;
}

footer h2{
  padding: 10px 0;
}

footer p{
  padding: 10px 0;
  line-height: 1.3;
}

.footer-left,.footer-right{
  margin: 0 20px;
}

footer > p{
  text-align: center;
  opacity: 0.8;
  margin-top: 20px;
}

.footer-right i{
  font-size: 1.8rem;
  color: #808080;
}

.footer-right input{
  font-size: 18px;
  border: none;
  background: transparent;
  outline: none;
  color: #808080;
  padding-right: 10px;
  width: 100%;
}

.footer-right div{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 200px;
  padding: 10px 0;
  border-bottom: 1.6px solid #808080;
}



@media(min-width: 800px){
  .ham-btn, .times-btn{
      display: none!important;
  }

  .navigation-container{
      display: flex;
      background: #000000;
      align-items: center;
      flex-wrap: wrap;
  }
  .top-head{
      flex: 0 0 25%;
  }
  .nav-bar{
      flex: 1 0 auto;
      height: 100%;
      background: transparent;
  }
  .nav-bar nav ul{
      display: flex;
      justify-content: center;
  }
  .nav-bar nav ul li{
      padding-right: 30px;
  }
  .nav-bar nav ul li:hover{
      background: none;
  }

  /*social icons*/
  .social-icons{
      flex: 0 1 20%;
      display: block;
      margin: 0 auto;
  }
  .social-icons .fab{
      color: #fff;
      font-size: 2rem;
  }
  .social-icons ul{
      display: flex;
      justify-content: space-between;
      padding: 0 20px ;
  }
  .social-icons ul li{
      padding: 10px;
  }
  .footer-container{
      display: flex;
  }
  .footer-right,.footer-left{
      flex: 1;
  }
}

@media (max-width:768px){
  main{
      padding: 0;
      margin: 0;
  }
  .navbar ul{
      display: none;
  }

  .navbar .menu{
      display: block;
      cursor: pointer;
  }
  .mobile-nav{
      background-color: aliceblue;
  }
  .mobile-nav ul a{
      display: inline-block;
      padding: 1rem;
      font-size: 1.4rem;
      text-transform: uppercase;
      width: 100%;
      color: #5b5963;
      transition: all 0.4s ease;
  }
  .mobile-nav ul a:hover{
      color: white;
      background-color: #fd735a;
  }
  .navbar .menu i{
      font-size: 2.5rem;
  }

  .mobile-nav.active{
      display: block;
  }
  .cards{
      flex-direction: column;
  }
}

@media (max-width:567px){
  .article-heading h5{
      font-size: 6rem;
  }
}


section{
  position: relative;
  min-height: 100vh;
  margin: 0 20px 20px;
}
section .lightBox{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 100;
  display: none;
}
.lightBox .lightBox_content{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 950px;
  width: 90%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.lightBox_content .close{
  position: absolute;
  top: 0;
  left: -40px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}
.lightBox_content .close:hover{
  opacity: 1;
}
section .logo_icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
section .logo_icons a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
section .logo_icons .logoImg{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
section .logo_icons .text_content{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.logo_icons .text_content .followers{
  font-size: 13px;
  margin-top: 3px;
}
section .logo_icons .icons i{
  height: 35px;
  width: 35px;
  background: #ccc;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lightBox .logo_icons .icons i:hover{
  color: #fff;
  background: #7d2ae8;
}
section .lightBox .showImg{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.lightBox .showImg .image{
  max-height: 700px;
  max-width: 900px;
}
.showImg .image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section .image-gallery{
  max-width: 1300px;
  min-height: 100vh;
  width: 100%;
  background: #003349;
  margin: auto;
}
.image-gallery header{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background: #24292d;
  padding: 20px 0;
  letter-spacing: 1px;
}
.image-gallery .image-container{
  columns: 3;
  margin-top: 20px;
  gap: 15px;
}
.image-container img{
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image-container .image-box{
  position: relative;
  cursor: pointer;
  margin: 10px 0;
}
.image-box .logo_icons{
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: rgba(11, 1, 44, 0.2);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.image-box:hover .logo_icons{
  opacity: 1;
  pointer-events: auto;
}
.image-box .logo_icons .icons i{
  color: #b4b4b4;
  background: #fff;
}
.logo_icons .icons i:hover{
  color: #707070;
}
section .image-gallery .logo_icons .text_content{
  color: #fff;
  font-size: 14px
}
section .image-gallery .text_content .followers{
  font-size: 12px;
  font-weight: 400;
  margin-top: -4px;
}
@media (max-width: 1034px) {
  .lightBox_content .close{
    top: -40px;
    left: 10px;
  }
}
@media (max-width: 1002px) {
  .image-gallery .image-container{
    columns: 2;
  }
}
@media (max-width: 602px) {
  .image-gallery .image-container{
    columns: 2;
  }
@media (max-width: 602px) {
  .image-gallery header{
    font-size: 25px;
  }
}